[user]
  name = {{ .my.name | quote }}
  email = {{ .my.email | quote }}
[github]
  user = flou

[init]
  defaultBranch = main
[core]
  autocrlf = false
  editor = nvim
  fileMode = true
  whitespace = -trailing
[credential]
  helper = osxkeychain
[commit]
  verbose = true
[color "status"]
  added      = yellow
  changed    = green
  untracked  = cyan

[alias]
  hash = rev-parse --short HEAD
  root = rev-parse --show-toplevel

  draft = push -o merge_request.create -o merge_request.draft
  mr    = push -o merge_request.create

  set-upstream = !(git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`)
  default = !(git symbolic-ref refs/remotes/origin/HEAD | xargs basename)
  sd = !(git switch `git default`)

  r       = remote -v      # show remotes (verbose)

  br       = branch
  branches = branch -av    # show all branches
  bb       = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

  ci    = commit
  oops  = commit --amend -C HEAD

  co = checkout            # checkout
  nb = switch -c           # create and switch to a new branch (mnemonic: "git new branch branchname...")
  cp = cherry-pick -x      # grab a change from a branch
  nbc = "!f() { git nb $1 && git commit -am \"$2\"; }; f" # create a new branch and commit

  ls = ls-files

  d   = diff               # diff unstaged changes
  dc  = diff --cached      # diff staged changes
  dfu = diff @{u}

  lg        = log --graph --topo-order --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cd)%Creset %C(cyan)[%an]%Creset'

  unstage  = reset HEAD    # remove files from index (tracking)
  undo     = reset --soft "HEAD^"
  filelog  = log -u        # show changes to a file

  st = status              # status

  tags = tag -n            # show tags with <n> lines of each tag message

  ready  = rebase -i @{u}
  sortag = "!(git for-each-ref --sort=taggerdate --format '%(refname) %(taggerdate)' refs/tags)"
  up     = pull --rebase --autostash

  gone = "!(git for-each-ref refs/heads/ --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -d)"
[column]
  ui = auto
[branch]
  sort = -committerdate
[pull]
  rebase = true
[rebase]
  autoStash = true
  autosquash = true
  updateRefs = true
[push]
  autoSetupRemote = true
  default = tracking
  followTags = false
[fetch]
  all = true
  prune = true
  pruneTags = true
[blame]
  date = short
[log]
  color = always
  date = human
[merge]
  conflictstyle = zdiff3
  ff = only
  tool = smerge
  verbosity = 1
[diff]
  algorithm = histogram
  colorMoved = true
  conflictstyle = zdiff3
  mnemonicPrefix = true
  renames = true
  submodule = log
  tool = smerge
[rerere]
  enabled = true
  autoupdate = true
[status]
  relativePaths = true
  showUntrackedFiles = all
  submoduleSummary = true
[grep]
  extendedRegexp = true
[advice]
  statusHints = true
[pager]
  diff = delta
  log = delta
  show = delta
[interactive]
  diffFilter = delta --color-only
[tag]
  sort = version:refname
[tig]
  main-view-author-display = email-user
  main-view-id-display = yes
  main-view-commit-title-overflow = 55
  reference-format = hide:other
[delta]
  hyperlinks = true
  hyperlinks-file-link-format = "zed://file/{path}:{line}"
  navigate = true
  zero-style = dim syntax
[ghq]
  root = ~/workspace

{{- if .work }}
[includeIf "gitdir:~/workspace/{{ .my.work_git_forge }}/"]
  path = config.work
{{- end }}
