{{- $firstname := (.my.name | split " ")._0 -}}
{{- $lastname := (.my.name | split " ")._1 | upper -}}
[user]
  name = {{ printf "%s %s" $firstname $lastname | quote }}
  email = {{ .my.work_email | quote }}
  signingKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJwd5oiB+wCRkRPyFVHRya4FHU4jfXBPGfBgKgcY4PtJ"
[gpg]
  format = ssh
[gpg.ssh]
  allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
[commit]
  gpgsign = true
