export PROMPT='%F{yellow}%~%f %# '

setopt autocd

# Load antidote and ZSH plugins
. "${HOME}/.antidote/antidote.zsh"
antidote load "${HOME}/.config/zsh/zsh_plugins.txt"

if (( $+commands[bat] )); then
  alias cat='bat --style "header,plain"'
fi

if (( $+commands[eza] )); then
  ezargs="--ignore-glob='$(awk '{$1=$1} NF{printf "%s|", $0}' "${XDG_CONFIG_HOME}/eza/ignore" | sed 's/|$//')' --group-directories-first"

  alias ls="eza -a -s type $ezargs"
  alias l="eza -la -s type $ezargs"
  alias tree="eza -lT --hyperlink $ezargs"
fi

if (( $+commands[fzf] )); then
  . <(fzf --zsh)
  . "${HOME}/.config/fzf/ghq.sh"
fi

if (( $+commands[vivid] )); then
  export LS_COLORS="$(vivid generate molokai)"
fi

# Custom functions

function mkd() {
  mkdir -p "$1" && cd "$1" || return
}

function groot() {
  cd "$(git rev-parse --show-toplevel)" || return
}

function copy() {
  if [[ -n "${1}" ]]; then
    pbcopy <"${1}"
  fi
}

if (( $+commands[mise] )); then
  . <(mise activate zsh)
fi

if (( $+commands[starship] )); then
  . <(starship init zsh)
fi

# ZSH widgets and keybindings

function git-log-widget() {
  git lg
  zle reset-prompt
}
zle     -N             git-log-widget
bindkey -M emacs '\eh' git-log-widget

function open-cwd-zed-widget() {
  zed .
}
zle     -N             open-cwd-zed-widget
bindkey -M emacs '\e/' open-cwd-zed-widget

bindkey -M emacs '^[[A'     history-substring-search-up
bindkey -M emacs '^[[B'     history-substring-search-down
bindkey -M emacs '^[[3~'    delete-char
bindkey -M emacs "^[[45;5u" undo

# Aliases

alias path='echo -e ${PATH//:/\\n} | nl'

alias cm=chezmoi
alias curl="noglob curlie"
alias curlie="noglob curlie"
alias df="df -h"
alias du="du -h"
alias fd="noglob fd"
alias gg="ghq clone"
alias lg='lazygit'
alias mkdir="mkdir -p"
alias pcat="plutil -p"
alias tailf='tail -f'
alias vim=nvim
alias yz="yazi"

{{- if .work }}
# autoload -z edit-command-line
# zle     -N              edit-command-line
# bindkey -M emacs "^X^E" edit-command-line

if (( $+commands[direnv] )); then
  . <(direnv hook zsh)
fi

[[ -s "${HOME}/.config/zsh/work-aliases.sh" ]] && source "${HOME}/.config/zsh/work-aliases.sh"
{{- end }}
