alias path='echo -e ${PATH//:/\\n} | nl'

alias cm=chezmoi
alias curl="noglob curlie"
alias curlie="noglob curlie"
alias df="df -h"
alias du="du -h"
alias fd="noglob fd"
alias gg="ghq clone"
alias lg='lazygit'
alias mkdir="mkdir -p"
alias tailf='tail -f'
alias vim=nvim
alias yz="yazi"

export PROMPT='%F{yellow}%~%f %# '

# ZSH plugins
. "${HOME}/.antidote/antidote.zsh"
antidote load "${HOME}/.config/zsh/zsh_plugins.txt"

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

if command -v bat &>/dev/null; then
  alias cat='bat --style "header,plain"'
fi

if command -v eza &>/dev/null; then
  ezargs="--ignore-glob='$(awk '{$1=$1} NF{printf "%s|", $0}' "${XDG_CONFIG_HOME}/eza/ignore" | sed 's/|$//')' --group-directories-first"

  alias ls="eza -a -s type $ezargs"
  alias l="eza -la -s type $ezargs"
  alias ll="eza -la -s type $ezargs"
  alias tree="eza -lT --hyperlink $ezargs"
fi

if command -v fzf &>/dev/null; then
  . <(fzf --zsh)
  . "${HOME}/.config/fzf/ghq.sh"
fi

if command -v vivid &>/dev/null; then
  export LS_COLORS="$(vivid generate molokai)"
fi

function mkd() {
  mkdir -p "$1" && cd "$1" || return
}

function groot() {
  cd "$(git rev-parse --show-toplevel)" || return
}

if [[ -f "${HOMEBREW_PREFIX}/bin/mise" ]]; then
  eval "$(${HOMEBREW_PREFIX}/bin/mise activate zsh)"
fi

function git-log-widget() {
  git lg
  zle reset-prompt
}
zle     -N             git-log-widget
bindkey -M emacs '\eh' git-log-widget

# Copy file content to clipboard
function copy() {
  if [[ -n "${1}" ]]; then
    pbcopy <"${1}"
  fi
}

zstyle -d ':completion:*' special-dirs

{{- if .work }}
autoload -z edit-command-line
zle     -N              edit-command-line
bindkey -M emacs "^X^E" edit-command-line

if command -v starship &>/dev/null; then
  . <(starship init zsh)
fi

if command -v direnv &>/dev/null; then
  eval "$(direnv hook zsh)"
fi

[[ -s "${HOME}/.config/zsh/work-aliases.sh" ]] && source "${HOME}/.config/zsh/work-aliases.sh"
{{- end }}

# Nix daemon profile
[[ -d /nix/var/nix/profiles ]] && . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
