export PROMPT='%F{yellow}%~%f %# '

setopt autocd
setopt extendedglob

# Begin History

setopt bang_hist               # Treat the '!' character specially during expansion.
setopt extended_history        # Write the history file in the ':start:elapsed;command' format.
setopt hist_expire_dups_first  # Expire a duplicate event first when trimming history.
setopt hist_find_no_dups       # Do not display a previously found event.
setopt hist_ignore_all_dups    # Delete an old recorded event if a new event is a duplicate.
setopt hist_ignore_dups        # Do not record an event that was just recorded again.
setopt hist_ignore_space       # Do not record an event starting with a space.
setopt hist_reduce_blanks      # Remove extra blanks from commands added to the history list.
setopt hist_save_no_dups       # Do not write a duplicate event to the history file.
setopt hist_verify             # Do not execute immediately upon history expansion.
setopt inc_append_history      # Write to the history file immediately, not when the shell exits.
setopt share_history           # Share history between all sessions.
setopt NO_hist_beep            # Don't beep when accessing non-existent history.

HISTCONTROL=ignoredups:erasedups
HISTFILE="${XDG_DATA_HOME}/zsh/history"
HISTSIZE=1000000
SAVEHIST=1000000
HISTORY_IGNORE="(ls|l|cd|pwd|exit|cd ..|..)"

alias hist='fc -li'
alias history-stat="history 0 | awk '{print \$2}' | sort | uniq -c | sort -n -r | head"

# End History

# Load antidote and ZSH plugins
. "${HOME}/.antidote/antidote.zsh"
antidote load "${HOME}/.config/zsh/zsh_plugins.txt"

if (( $+commands[bat] )); then
  alias cat='bat --style "header,plain"'
fi

if (( $+commands[eza] )); then
  ezargs="--ignore-glob='$(awk '{$1=$1} NF{printf "%s|", $0}' "${XDG_CONFIG_HOME}/eza/ignore" | sed 's/|$//')' --group-directories-first"

  alias ls="eza -a -s type $ezargs"
  alias l="eza -la -s type $ezargs"
  alias tree="eza -lT --hyperlink $ezargs"
fi

if (( $+commands[fzf] )); then
  . <(fzf --zsh)
  . "${HOME}/.config/fzf/ghq.sh"
fi

if (( $+commands[vivid] )); then
  export LS_COLORS="$(vivid generate molokai)"
fi

# Custom functions

function mkd() {
  mkdir -p "$1" && cd "$1" || return
}

function groot() {
  cd "$(git rev-parse --show-toplevel)" || return
}

function copy() {
  if [[ -n "${1}" ]]; then
    pbcopy <"${1}"
  fi
}

if (( $+commands[mise] )); then
  . <(mise activate zsh)
fi

if (( $+commands[starship] )); then
  . <(starship init zsh)
fi

# ZSH widgets and keybindings

function git-log-widget() {
  git lg
  zle reset-prompt
}
zle     -N             git-log-widget
bindkey -M emacs '\eh' git-log-widget

function open-cwd-zed-widget() {
  zed .
}
zle     -N             open-cwd-zed-widget
bindkey -M emacs '\e/' open-cwd-zed-widget

bindkey -M emacs '^[[A'     history-substring-search-up
bindkey -M emacs '^[[B'     history-substring-search-down
bindkey -M emacs '^[[3~'    delete-char
bindkey -M emacs "^[[45;5u" undo

# Aliases

alias path='echo -e ${PATH//:/\\n} | nl'

alias cm=chezmoi
alias curl="noglob curlie"
alias curlie="noglob curlie"
alias df="df -h"
alias du="du -h"
alias fd="noglob fd"
alias gg="ghq clone"
alias lg='lazygit'
alias mkdir="mkdir -p"
alias pcat="plutil -p"
alias tailf='tail -f'
alias vim=nvim
alias yz="yazi"

{{- if .work }}
# autoload -z edit-command-line
# zle     -N              edit-command-line
# bindkey -M emacs "^X^E" edit-command-line

if (( $+commands[direnv] )); then
  . <(direnv hook zsh)
fi

[[ -s "${HOME}/.config/zsh/work-aliases.sh" ]] && source "${HOME}/.config/zsh/work-aliases.sh"
{{- end }}
