#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "chezmoi"
    "mise"
-}}

{{ $casks := (list
    "font-iosevka"
    "font-commit-mono"
    "ghostty@tip"
) -}}

{{ if .work -}}
{{ $brews = concat $brews (list
    "colima"
    "direnv"
    "gnu-sed"
    "moreutils"
    "starship"
) -}}

{{ $casks = concat $casks (list) -}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
