#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "bat"
    "btop"
    "chezmoi"
    "curlie"
    "difftastic"
    "direnv"
    "eza"
    "fd"
    "fzf"
    "ghorg"
    "git"
    "git-delta"
    "gnu-sed"
    "helix"
    "jj"
    "lazygit"
    "mise"
    "moreutils"
    "ripgrep"
    "starship"
    "vivid"
    "xh"
    "yazi"
    "zoxide"
    "zsh"
-}}

{{ $casks := (list
    "1password-cli"
) -}}

{{ if .work -}}
{{ $brews = concat $brews (list
    "colima"
) -}}

{{ $casks = concat $casks (list) -}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
