# vim:fileencoding=utf-8:filetype=sshconfig:foldmethod=marker

Host github.com
    User git

{{- if .work }}
Include ~/.ssh/config.work
{{- end }}

{{- if stat (joinPath .chezmoi.homeDir ".orbstack/ssh/config") }}
Include ~/.orbstack/ssh/config
{{- end }}
