# vim:fileencoding=utf-8:filetype=sshconfig:foldmethod=marker

Host github.com
    User git

{{- if .work }}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Include ~/.ssh/config.work
{{- end }}

{{- if stat (joinPath .chezmoi.homeDir ".orbstack/ssh/config") }}
Include ~/.orbstack/ssh/config
{{- end }}
