[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
auto-format = true

[language-server.ruff]
command = "ruff-lsp"

[language-server.ruff.config.settings]
args = ["--ignore", "E501"]

[language.formatter]
command = "black"

[[language]]
name = "go"
auto-format = true

[language-server.gopls.config]
"formatting.gofumpt" = true
