[settings]
experimental = true
legacy_version_file = false
disable_backends = ["asdf"]
minimum_release_age = "0s"
{{- if .work }}
trusted_config_paths = [
  "{{ .chezmoi.homeDir }}/workspace/{{ .my.work_git_forge }}/",
]
{{- end }}

[settings.npm]
bun = true

[settings.python]
default_packages_file = "{{ .chezmoi.homeDir }}/.config/mise/default-python-packages"
uv_venv_auto = true

[tools]
aube = "latest"
cargo-binstall = "latest"
go = "latest"
just = "latest"
node = "latest"
python = "latest"
usage = "latest"
uv = "latest"
"pipx:pxpx" = "latest"

{{- if .work }}
"cargo:proc-cli" = "latest"
argocd = "latest"
aws-cli = "latest"
claude-code = "latest"
gcloud = "584.0.0"
hadolint = "latest"
helm = "latest"
helm-diff = "latest"
jq = "latest"
k9s = "latest"
kubectl = "latest"
kubectx = "latest"
prek = "latest"
shellcheck = "latest"
stern = "latest"
tflint = "latest"
vault = "1.18.2"
viddy = "latest"
yq = "latest"
{{- end }}
