[settings]
experimental = true
legacy_version_file = false
disable_backends = ["asdf"]
{{- if .work }}
trusted_config_paths = [
  "{{ .chezmoi.homeDir }}/workspace/{{ .my.work_git_forge }}/",
]
{{- end }}

[settings.npm]
bun = true

[settings.python]
default_packages_file = "{{ .chezmoi.homeDir }}/.config/mise/default-python-packages"
uv_venv_auto = true

[tools]
cargo-binstall = "latest"
go = "latest"
just = "latest"
node = "latest"
python = "latest"
ruff = "latest"
ty = "latest"
usage = "latest"
uv = "latest"
"pipx:pxpx" = "latest"
"pipx:ruff-lsp" = "latest"

{{- if .work }}
argocd = "latest"
aws-cli = "latest"
bun = "latest"
claude-code = "latest"
hadolint = "latest"
helm = "latest"
helm-diff = "latest"
jq = "latest"
k9s = "latest"
kubectl = "latest"
kubectx = "latest"
prek = "latest"
shellcheck = "latest"
stern = "latest"
tflint = "latest"
vault = "1.18.2"
yq = "latest"
"cargo:proc-cli" = "latest"
"go:github.com/deveshctl/layerx" = "latest"
"go:github.com/janosmiko/lfk" = "latest"
"vfox:flou/vfox-gcloud" = "577.0.0"

{{- else }}
elixir = "latest"
{{- end }}
